.dark-mode-login {
    background-color: #0d0d0d;
    width: 100%;
    min-width: 2560px;
    min-height: 1440px;
    position: relative;
}

.dark-mode-login .container {
    position: absolute;
    top: 94px;
    left: 110px;
    width: 384px;
    height: 384px;
    background-color: #0066ff33;
    border-radius: 26843500px;
    filter: blur(100px);
}

.dark-mode-login .div {
    position: absolute;
    top: 512px;
    right: 125px;
    width: 384px;
    height: 384px;
    background-color: #ff006633;
    border-radius: 26843500px;
    filter: blur(100px);
}

.dark-mode-login .container-2 {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 582px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 221px;
    left: calc(50% - 224px);
}

.dark-mode-login .container-3 {
    display: flex;
    flex-direction: column;
    height: 533.6px;
    align-items: flex-start;
    gap: 32px;
    padding: 32.8px 32.8px 0.8px 32.8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff0d;
    border-radius: 16px;
    border: 0.8px solid;
    border-color: #fffefe1a;
    box-shadow: 0px 25px 50px -12px #00000040;
}

.dark-mode-login .container-4 {
    display: flex;
    flex-direction: column;
    height: 144px;
    align-items: center;
    gap: 16px;
    padding: 0px 0px -1.53e-5px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .img {
    position: relative;
    width: 88px;
    height: 88px;
    margin-top: -2px;
}

.dark-mode-login .heading {
    position: relative;
    width: 74.8px;
    height: 36px;
}

.dark-mode-login .text-wrapper {
    position: absolute;
    top: -3px;
    left: 0;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -0.75px;
    line-height: 36px;
    white-space: nowrap;
}

.dark-mode-login .paragraph {
    position: relative;
    width: 41.26px;
    height: 24px;
    margin-bottom: -12px;
}

.dark-mode-login .text-wrapper-2 {
    position: absolute;
    top: -2px;
    left: 0;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefe99;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 24px;
    white-space: nowrap;
}

.dark-mode-login .form {
    display: flex;
    flex-direction: column;
    height: 292px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .container-5 {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .primitive-label {
    display: flex;
    height: 14px;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefee6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    white-space: nowrap;
}

.dark-mode-login .container-6 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 48px;
}

.dark-mode-login .input {
    width: 382px;
    height: 48px;
    padding: 4px 12px 4px 44px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff0d;
    border-radius: 14px;
    overflow: hidden;
    border: 0.8px solid;
    border-color: #fffefe1a;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #717182;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.dark-mode-login .icon {
    position: absolute;
    top: 14px;
    left: 12px;
    width: 20px;
    height: 20px;
}

.dark-mode-login .vector {
    position: absolute;
    width: 58.33%;
    height: 25%;
    top: 58.33%;
    left: 16.67%;
}

.dark-mode-login .vector-2 {
    position: absolute;
    width: 33.33%;
    height: 33.33%;
    top: 8.33%;
    left: 29.17%;
}

.dark-mode-login .div-wrapper {
    display: flex;
    width: 382px;
    height: 48px;
    align-items: center;
    padding: 4px 12px 4px 44px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff0d;
    border-radius: 14px;
    overflow: hidden;
    border: 0.8px solid;
    border-color: #fffefe1a;
}

.dark-mode-login .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #717182;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.dark-mode-login .vector-3 {
    position: absolute;
    width: 75%;
    height: 45.83%;
    top: 41.67%;
    left: 8.33%;
}

.dark-mode-login .vector-4 {
    position: absolute;
    width: 41.67%;
    height: 37.5%;
    top: 4.17%;
    left: 25%;
}

.dark-mode-login .button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 48px;
    border-radius: 14px;
    box-shadow: 0px 4px 6px -4px #00b8da4c, 0px 10px 15px -3px #00b8da4c;
    background: linear-gradient(90deg, rgba(0, 184, 219, 1) 0%, rgba(21, 93, 252, 1) 100%);
}

.dark-mode-login .text-wrapper-5 {
    position: absolute;
    top: 13px;
    left: 172px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.dark-mode-login .container-7 {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 0px -1.53e-5px 0px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .button-2 {
    all: unset;
    box-sizing: border-box;
    width: 128.48px;
    position: relative;
    height: 24px;
}

.dark-mode-login .text-wrapper-6 {
    position: absolute;
    top: -2px;
    left: 0;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefe99;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.dark-mode-login .button-3 {
    all: unset;
    box-sizing: border-box;
    width: 130.65px;
    position: relative;
    height: 24px;
}

.dark-mode-login .paragraph-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 24px;
}

.dark-mode-login .p {
    position: absolute;
    top: -2px;
    left: 78px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefe66;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

/* Inject original CSS code here */
.dark-mode-login {
    background-color: #0d0d0d;
    width: 100%;
    min-width: 1920px;
    min-height: 1080px;
    position: relative;
}

.dark-mode-login .container {
    position: absolute;
    top: 94px;
    left: 110px;
    width: 384px;
    height: 384px;
    background-color: #0066ff33;
    border-radius: 26843500px;
    filter: blur(100px);
}

.dark-mode-login .div {
    position: absolute;
    top: 512px;
    right: 125px;
    width: 384px;
    height: 384px;
    background-color: #ff006633;
    border-radius: 26843500px;
    filter: blur(100px);
}

.dark-mode-login .container-2 {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 582px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 221px;
    left: calc(50% - 224px);
}

.dark-mode-login .container-3 {
    display: flex;
    flex-direction: column;
    height: 533.6px;
    align-items: flex-start;
    gap: 32px;
    padding: 32.8px 32.8px 0.8px 32.8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff0d;
    border-radius: 16px;
    border: 0.8px solid;
    border-color: #fffefe1a;
    box-shadow: 0px 25px 50px -12px #00000040;
}

.dark-mode-login .container-4 {
    display: flex;
    flex-direction: column;
    height: 144px;
    align-items: center;
    gap: 16px;
    padding: 0px 0px -1.53e-5px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .img {
    position: relative;
    width: 88px;
    height: 88px;
    margin-top: -2px;
}

.dark-mode-login .heading {
    position: relative;
    width: 74.8px;
    height: 36px;
}

.dark-mode-login .text-wrapper {
    position: absolute;
    top: -3px;
    left: 0;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -0.75px;
    line-height: 36px;
    white-space: nowrap;
}

.dark-mode-login .paragraph {
    position: relative;
    width: 41.26px;
    height: 24px;
    margin-bottom: -12px;
}

.dark-mode-login .text-wrapper-2 {
    position: absolute;
    top: -2px;
    left: 0;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefe99;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 24px;
    white-space: nowrap;
}

.dark-mode-login .form {
    display: flex;
    flex-direction: column;
    height: 292px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .container-5 {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .primitive-label {
    display: flex;
    height: 14px;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefee6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    white-space: nowrap;
}

.dark-mode-login .container-6 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 48px;
}

.dark-mode-login .input {
    width: 382px;
    height: 48px;
    padding: 4px 12px 4px 44px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff0d;
    border-radius: 14px;
    overflow: hidden;
    border: 0.8px solid;
    border-color: #fffefe1a;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefee6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.dark-mode-login .input::placeholder {
    color: #717182;
}

.dark-mode-login .input:focus {
    outline: 2px solid #00b8db;
    outline-offset: -2px;
    border-color: #00b8db;
}

.dark-mode-login .icon {
    position: absolute;
    top: 14px;
    left: 12px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.dark-mode-login .vector {
    position: absolute;
    width: 58.33%;
    height: 25%;
    top: 58.33%;
    left: 16.67%;
}

.dark-mode-login .vector-2 {
    position: absolute;
    width: 33.33%;
    height: 33.33%;
    top: 8.33%;
    left: 29.17%;
}

.dark-mode-login .div-wrapper {
    display: flex;
    width: 382px;
    height: 48px;
    align-items: center;
    padding: 4px 12px 4px 44px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff0d;
    border-radius: 14px;
    overflow: hidden;
    border: 0.8px solid;
    border-color: #fffefe1a;
}

.dark-mode-login .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #717182;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.dark-mode-login .vector-3 {
    position: absolute;
    width: 75%;
    height: 45.83%;
    top: 41.67%;
    left: 8.33%;
}

.dark-mode-login .vector-4 {
    position: absolute;
    width: 41.67%;
    height: 37.5%;
    top: 4.17%;
    left: 25%;
}

.dark-mode-login .button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 48px;
    border-radius: 14px;
    box-shadow: 0px 4px 6px -4px #00b8da4c, 0px 10px 15px -3px #00b8da4c;
    background: linear-gradient(90deg, rgba(0, 184, 219, 1) 0%, rgba(21, 93, 252, 1) 100%);
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.dark-mode-login .button:hover {
    opacity: 0.9;
}

.dark-mode-login .button:active {
    opacity: 0.8;
}

.dark-mode-login .button:focus-visible {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

.dark-mode-login .text-wrapper-5 {
    position: absolute;
    top: 13px;
    left: 172px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.dark-mode-login .container-7 {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 0px -1.53e-5px 0px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.dark-mode-login .button-2 {
    all: unset;
    box-sizing: border-box;
    width: 128.48px;
    position: relative;
    height: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.dark-mode-login .button-2:hover .text-wrapper-6 {
    color: #fffefee6;
}

.dark-mode-login .button-2:focus-visible {
    outline: 2px solid #00b8db;
    outline-offset: 2px;
    border-radius: 4px;
}

.dark-mode-login .text-wrapper-6 {
    position: absolute;
    top: -2px;
    left: 0;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefe99;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    transition: color 0.2s ease;
}

.dark-mode-login .button-3 {
    all: unset;
    box-sizing: border-box;
    width: 130.65px;
    position: relative;
    height: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.dark-mode-login .button-3:hover .text-wrapper-6 {
    color: #fffefee6;
}

.dark-mode-login .button-3:focus-visible {
    outline: 2px solid #00b8db;
    outline-offset: 2px;
    border-radius: 4px;
}

.dark-mode-login .paragraph-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 24px;
}

.dark-mode-login .p {
    position: absolute;
    top: -2px;
    left: 78px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #fffefe66;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

body {
    background: #0d0d0d;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Helvetica", "Arial", sans-serif;
}