@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

.logout-btn {
    padding: 8px 16px;
    background: #ff3b3b;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: 0.25s;
}

.logout-btn:hover {
    background: #ff5555;
}


/* RESET DEFAULT SELECT BEHAVIOR */
select,
.filter-select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;

    background-color: #111 !important;
    border: 1px solid #2b2b2b !important;
    color: #fff !important;

    padding: 12px 18px !important;
    border-radius: 12px !important;
    font-size: 14px !important;

    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='14' width='14' xmlns='http://www.w3.org/2000/svg'><path d='M7 10L3 6h8z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;

    cursor: pointer;
}

/* Dropdown panel (the menu that opens) */
select option,
.filter-select option {
    background-color: #0d0d0d !important;
    color: #fff !important;
    padding: 10px !important;
    border: none !important;
}

/* Hovered option */
select option:hover,
.filter-select option:hover {
    background-color: #155dfc !important;
    color: #fff !important;
}

